body {
    background-color: yellow;
}

p {
    color: darkred;
    font-size: 50px;
    background-color:aliceblue;
}

.fl {
    width: 100%;
    height: auto;
    background-color: transparent;  
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.fl div {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 30px;
}

.fl .d{
    height: 300px;
}

img {
    height: 500px;
    width: 500px;

}